html,body {
  height: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 56.25%;
}

body {
  overflow: hidden;
  background: #5e35b1;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  background-color: #262932b0
}

/* skip links deactivated until further implemntation */
  .skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

.skip-links a {
  position: absolute;
  top: -3em;
  left: 5em;
  border: 3px #3399cc solid;
  background-color: #000;
  color: #fff;
  padding: 0.5em 0.75em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
  text-align: center;
}


/* #title {
  text-align: center;
  text-shadow: 4px 4px 2px rgb(12, 7, 7);
} */
.map {
  border:10px solid #0b0;
  min-height:250px;
  height:100%;
  width: 100%;
}

a {
  font-size: 1.4vw;
}

h1 {
  /* margin: 0px; */
  /* font-family: cursive; */
  /* color: #c1cc2f; */

}

h2 {
  margin: 3px;
}

h3, #search {
  margin: 0 0 .83em 0;
}

h3 {
  font-size: 1.5vw;
}

h4, ol.venueList {
  margin: 0;
}

p {
  margin: 3px;
}

/* searchbar flashing cursor */
.cursor {
  position: relative;
}
.cursor i {
  flex-direction: column;
  /* position: absolute; */
  width: 1px;
  height: 80%;
  background-color: gray;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

#search {
  /* animation: blink 1s infinite; */
  /* animation-timing-function: cubic-bezier(0.9, -0.43, 0.77, 1.15);   */
}

.info-cards h3 {
  background: #92bfe6;
  border: 1px solid gray;
  text-align: center;
  font-weight: 900;
  font-size: 1.7vw;
  color: #500000;
  width: 100%;
  font-family: 'Lato', sans-serif;
  padding: 4px 1px;
  -webkit-box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75);
}

#search {
  /* background: #92bfe6; */
    border: 1px solid gray;
  /* text-align: center; */
  font-weight: 900;
  font-size: 1.7vw;
  color: #500000;
  width: 100%;
  font-family: 'Lato', sans-serif;
  padding: 4px 1px;
  height: 75px;
  padding-left: 20px;
  /* -webkit-box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75); */
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}

#search:focus, #search:hover {
  /* background-color: #2eb9ce; */
  animation: step-end;
}

.foursquare,
.info-cards h2 {
  /* background:  linear-gradient(
    rgba(128, 117, 117, 0.45), 
    rgb(0, 0, 0)
  ), url("images/drk-bg.png"); */
  background-color: #2eb9ce38;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  color: #d8cccc;
  width: 100%;
  border: 0;
  font-family: 'Lato', sans-serif;
  padding: 4px 1px;
  /* -webkit-box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75); */
}
 #title {
  /* background:  linear-gradient(
    rgba(128, 117, 117, 0.45), 
    rgb(0, 0, 0)
  ), url("images/drk-bg.png"); */
  /* background-color: #2eb9ce38; */
   color: white;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  /* color: #d8cccc; */
  width: 100%;
  border: 0;
  font-family: sans-serif;
  padding: 4px 1px;
  /* -webkit-box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75); */
  /* -moz-box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75); */
  /* box-shadow: inset 10px 15px 21px -8px rgba(0, 0, 0, 0.75); */
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sideBar{
    display: flex;
}

.info-cards {

  width: 25%;
  border: 1px solid #1e4277;
  overflow: scroll;
  margin-bottom: 50px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #1e4277;
  /* overflow: scroll; */
}

.venueList,
.info-list {
  overflow: scroll;
  padding: 2px;
}

.gm-style-iw h3 {
  color: #2f4e4e;

}

.card-data {
  font-size: .5rem;
  flex-flow: column;
}

.listItem, .card-data {
  list-style: none;
  font-size: 1rem;
  padding: 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  font-family: cursive;
  /* background-image: url("images/wht-bg.jpg"); */
  margin: 4px 0;
  color: #2f4e4e;
  cursor: pointer;
  border: 3px solid #2eb9ce38;
  display: flex;
  align-items: center;
  width: 100%;
}

.listItem:hover,
.card-data:hover, 
.listItem:focus,
.card-data:focus {
  color: rgb(0, 199, 199);
  border: 3px solid #2eb9ce;
}

button img {
  background-color: #1e79696e;
  border-radius: 17px;
  margin: 4px;
}

/* holds the width of the error frame. optimized for map placement then app  */
.errFrame {
  width: 50%;
}

.failMSG {
  margin: 0px;
  font-family: cursive;
  color: #c1cc2f;
}

details {
  color: #2eb9ce;
}

.info {
  color: #c4cecf;
}

.info, details, .failMSG {
  margin: 4px;
  padding: 2px;
}

@media only screen and (max-width: 534px) {

  .listItem,
  .card-data {
    flex-direction: column;
  }
}

@media only screen and (max-width: 976px) {
  .listItem, h4, h3, p {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 976px) {
  .listItem img {
    width: 3vw;
  }
}

@media only screen and (max-width: 534px) {
  .listItem img {
    width: 5vw;
  }
}